body {
    background-color: #2A2B2DFF;
}

h1, h3, p {
    color:  #D9514EFF;
}

h3 {
    color: #2DA8D8FF;
}

p {
    color: aliceblue;
}

form {
    width: 400px;
    margin: 50px auto;
    text-align: center;
    position: relative;
    z-index: 1;
    background: white;
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    box-sizing: border-box;
    position: relative;
}

form > h2 {
    font-size: 1.5em;
    text-transform: uppercase;
    color: #2C3E50;
    margin-bottom: 10px;
}

form > .status-form-input, form > .status-form-textarea {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    color: #2C3E50;
    font-size: 16px;
}
  

@media only screen and (max-width: 768px) {
    form {
      width: 290px;
    }
}
  
form {
    width: 400px;
    margin: 50px auto;
    text-align: center;
    position: relative;
    z-index: 1;
    background: white;
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    box-sizing: border-box;
    position: relative;
}
  
form > h2{
    font-size: 1.5em;
    text-transform: uppercase;
    color: #2C3E50;
    margin-bottom: 10px;
}
  
form > .status-form-input, form > .status-form-textarea {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    color: #2C3E50;
    font-size: 16px;
}