<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <!-- Judul Halaman -->
    <title>Story 7 Azhar</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <!-- Local CSS -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">

</head>

<body>
    <div class="container" style="margin-top: 10vh;">
        <h1 align="center">Status</h1>
        {% if status_list %}

        {% for s in status_list %}
        <div style="margin-top: 10px; size: 50px;">
            <h3 style="font-weight: bold;">
                {{ s.nama }}
            </h3>
            <p>
                {{ s.status }}
            </p>
        </div>
        {% endfor %}
        {% else %}
        <h3 style="color: red;">Empty :(</h3>

        {% endif %}
    </div>

    <div>
        <div style="margin-top: 10vh;">
            <form id="form" method="POST" action="{% url 'new_status' %}">
                <h2>Input Status</h2>
                {% csrf_token %}
                <row>
                    <col-sm-4>{{ status_form }}</col-sm-4>
                </row>
                <input id="submit" type="submit" class="btn btn-dark" value="Submit">
            </form>
        </div>
        
    </div>
</body>